<% layout('layouts/boilerplate.ejs') %>
    <div class="row">
        <div class="col-8 offset-2">
            <h2>Create A New Listing</h2>
            <form action="/listings" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Enter Title" id="title" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="listing[description]" placeholder="Enter description" cols="50" rows="5"
                        class="form-control" id="description"></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image Link</label>
                    <input type="text" name="listing[image]" placeholder="Enter image_url" class="form-control"
                        id="image">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="number" class="form-label">Price</label>
                        <input type="number" name="listing[price]" placeholder="Enter price" class="form-control"
                            id="image">
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="Enter country" class="form-control"
                            id="country">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="Enter location" class="form-control"
                        id="location">
                </div>

                <button class="btn btn-dark bg-success" class="">Add-Listing</button>
                <br><br>
            </form>
        </div>
    </div>