<%- include('includes/head.ejs') %>

    <body>
        <div class="post">
            <form method="post" action="/posts">
                <input placeholder="Enter Username" type="text" name="username">
                <br>
                <br>
                <textarea placeholder="Write your post" name="content" cols="40" rows="5"></textarea>
                <br>
                <button>Submit</button>
            </form>
        </div>
    </body>