<% layout('/layouts/boilerplate.ejs') %>
    <style>
        #filters {
            margin-block: 1rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            /* width: 100%; */
        }

        .filter {
            text-align: center;
            margin-right: 2rem;
            opacity: 0.7;
        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;
        }

        .filter p {
            margin: 0%;
            font-size: 0.8rem;
        }

        .tax-info {
            visibility: hidden;
        }

        .tax-toogle {
            border: 1px solid slategray;
            border-radius: 1rem;
            padding: 0.5rem;
            padding-inline: 1rem;
            margin-left: auto;
        }
    </style>
    <div id="filters">
        <div class="filter">
            <div>
                <i class="fa-solid fa-fire"></i>
            </div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-bed"></i>
            </div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-mountain-city"></i>
            </div>
            <p>Iconic Cities</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-mountain"></i>
            </div>
            <p>Mountain</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-brands fa-fort-awesome"></i>
            </div>
            <p>Castles</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-person-swimming"></i>
            </div>
            <p>Swiming Pool</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-campground"></i>
            </div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-cow"></i>
            </div>
            <p>Farms</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-snowman"></i>
            </div>
            <p>Arctic</p>
        </div>
        <div class="tax-toogle">
            <div class="form-check form-switch form-check-reverse tax-box">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display Taxes</label>
            </div>
        </div>
    </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-2">
        <% for(let list of allLists){ %>
            <a href="/listings/<%= list._id %>" class="listing-link">
                <div class="card col listing-card">
                    <img src="<%=list.image.url%>" class="card-img-top" alt="listing-card" style="height: 20rem;">
                    <div class="card-img-overlay">ABCD</div>
                    <div class=" card-body">
                        <p class="card-text">
                            <b>
                                <%= list.title %>
                            </b>
                            <br>
                            &#8377; <%= list.price.toLocaleString('en-IN') %> / Night
                                <i class="tax-info">&nbsp; &nbsp; +18%GST</i>
                        </p>

                    </div>
                </div>
            </a>
            <% } %>
    </div>

    <script>
        let taxSwitch = document.querySelector('#flexSwitchCheckDefault');
        taxSwitch.addEventListener('click', () => {
            let taxInfo = document.getElementsByClassName('tax-info');
            for (let i = 0; i < taxInfo.length; i++) {
                if (taxInfo[i].style.visibility != 'visible') {
                    taxInfo[i].style.visibility = 'visible'
                } else {
                    taxInfo[i].style.visibility = 'hidden'
                }
            }
        })
    </script>