<% layout('/layouts/boilerplate.ejs') %>
    <h2>All Listings</h2>


    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let list of allLists){ %>
            <a href="/listings/<%= list._id %>" class="listing-link">
                <div class="card col listing-card">
                    <img src="<%=list.image.url%>" class="card-img-top" alt="listing-card" style="height: 20rem;">
                    <div class="card-img-overlay">ABCD</div>
                    <div class=" card-body">
                        <p class="card-text">
                            <b>
                                <%= list.title %>
                            </b>
                            <br>
                            &#8377; <%= list.price.toLocaleString('en-IN') %> / Night
                        </p>

                    </div>
                </div>
            </a>
            <% } %>
    </div>