<% layout('/layouts/boilerplate.ejs') %>
    <style>
        #filters {
            margin-block: 1rem;
            display: flex;
            flex-wrap: wrap;
        }

        .filter {
            text-align: center;
            margin-right: 2rem;
            opacity: 0.7;
        }

        .filter:hover {
            opacity: 1;
            cursor: pointer;
        }

        .filter p {
            margin: 0%;
            font-size: 0.8rem;
        }
    </style>
    <div id="filters">
        <div class="filter">
            <div>
                <i class="fa-solid fa-fire"></i>
            </div>
            <p>Trending</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-bed"></i>
            </div>
            <p>Rooms</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-mountain-city"></i>
            </div>
            <p>Iconic Cities</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-mountain"></i>
            </div>
            <p>Mountain</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-brands fa-fort-awesome"></i>
            </div>
            <p>Castles</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-person-swimming"></i>
            </div>
            <p>Swiming Pool</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-campground"></i>
            </div>
            <p>Camping</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-cow"></i>
            </div>
            <p>Farms</p>
        </div>
        <div class="filter">
            <div>
                <i class="fa-solid fa-snowman"></i>
            </div>
            <p>Arctic</p>
        </div>
    </div>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-2">
        <% for(let list of allLists){ %>
            <a href="/listings/<%= list._id %>" class="listing-link">
                <div class="card col listing-card">
                    <img src="<%=list.image.url%>" class="card-img-top" alt="listing-card" style="height: 20rem;">
                    <div class="card-img-overlay">ABCD</div>
                    <div class=" card-body">
                        <p class="card-text">
                            <b>
                                <%= list.title %>
                            </b>
                            <br>
                            &#8377; <%= list.price.toLocaleString('en-IN') %> / Night
                        </p>

                    </div>
                </div>
            </a>
            <% } %>
    </div>