<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Data</title>
</head>

<body>
    <h2>
        This is find data : <%= number %>
    </h2>
    <% if (number>= 6 ) { %>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi excepturi voluptas quod doloremque expedita
            dolore. Amet itaque delectus quos iste!</p>
        <% } %>
</body>

</html>