<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>

<body>
    <h1>
        This is home page
    </h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus harum impedit pariatur dolor, ad consectetur
        recusandae molestiae aperiam cupiditate ipsam suscipit totam magnam inventore animi quaerat odit maiores rerum
        error incidunt deleniti debitis officiis, temporibus nisi itaque? Excepturi distinctio ea inventore molestiae
        sed veniam obcaecati ratione, officiis incidunt voluptates fugit magni quam exercitationem libero ipsam,
        architecto numquam dicta modi ducimus! At error non optio animi expedita, recusandae debitis facilis. Itaque
        quisquam commodi architecto explicabo beatae eveniet quis reiciendis mollitia minus.
    </p>
    <button>ClickMe</button>
</body>

</html>