<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write New Chat</title>
</head>

<body>
    <form method="post" action="/chats">
        <input type="text" name="from" placeholder="Sender">
        <br>
        <textarea name="msg" placeholder="Type your message here.." cols="30" rows="5"></textarea>
        <br>
        <input type="text" name="to" placeholder="Receiver">
        <br>
        <input type="submit" value="Send">
    </form>
</body>

</html>