<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>

<body>
    <form method="post" action="/user">
        <input type="text" name="username" required placeholder="Enter Your Name">
        <br>
        <input type="email" name="email" required placeholder="Enter Email">
        <br>
        <input type="password" name="password" required placeholder="Create Password">
        <br>
        <button>Create-User</button>
    </form>
</body>

</html>