<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>

<body>
    <h1>This is the home page</h1>
    <h3>Using EJS result of 5 * 5 =
        <%= 5*5 %>
    </h3>
    <h2>
        <%= "shivba gupta" .toUpperCase() %>
            <br>
            <%= ['javaScript', "Python" , "Node-Js" ][1] %>
    </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt quae nisi quo blanditiis rem, ex suscipit
        explicabo? Quis in ab corrupti esse nam maxime aperiam, libero quos quae magnam sit sapiente qui eveniet aliquam
        ratione reiciendis necessitatibus sed tenetur, quidem officiis at iste, eos error? Saepe, ratione! Harum,
        officiis doloremque, dolorem qui quis velit culpa voluptas ipsum debitis molestiae adipisci natus magni
        perferendis rerum fugit quam eum itaque nihil ducimus ratione aliquam. Doloremque eligendi nemo rerum sed quasi
        exercitationem mollitia obcaecati saepe facilis fuga delectus tempore culpa magni, explicabo necessitatibus
        blanditiis veniam voluptatum, nulla molestias nesciunt. Enim cupiditate nihil accusamus!</p>
    <button>click me</button>
</body>

</html>