<%- include("includes/head.ejs") %>

    <body>
        <h1>This is home page </h1>
        <h3>Account picture is : <%= user %>
        </h3>
        <%- include("includes/footer.ejs") %>
    </body>

    </html>